body {
    padding-top: 56px; /* Header yüksekliği kadar boşluk bırak */
  }
  
  .sidebar {
    position: fixed;
    top: 56px; /* Header yüksekliği */
    bottom: 0;
    left: 0;
    width: 250px;
    background-color:white;
    color: #2e2f30;
    padding-top: 20px;
    overflow-y: auto; /* Kaydırılabilirlik */
  }
  
  .content {
    margin-left: 250px; /* Sidebar genişliği */
    padding: 20px;
  }
  
  .sticky-buttons {
    position: -webkit-sticky;
    position: sticky;
    top: 52px; /* Header yüksekliği */
    z-index: 1;
    background-color: #f8f9fa;
    padding: 10px;
  }

  .f-list {
    background-color: #ebedf2;
  }

  hr {
    color: grey;
  }

  li:hover {
    background-color: #ebedf2;
    border-radius: 6px;
    
  }

  .buttons{
    font-size: 14px;
  }

.card-body-text{
  font-size: 14px;
}

.list-item {
  font-size: 14px;
}

.buttons {
  transition: background-color 0.3s, color 0.3s;
}

.buttons.active,
.buttons:active,
.buttons:focus {
  background-color: black;
  color: white;
}